<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.model.mapper.UserMapper">

    <!-- ***当数据库中的字段信息与Bean对象的属性不一致时需要通过resultMap来映射,防止异常*** -->
    <resultMap type="com.server.model.pojo.UserInfo" id="BaseInfoMap" autoMapping="true">
        <result property="mId" column="uId"/>
        <result property="mImage" column="uImage"/>
        <result property="mName" column="uName"/>
        <result property="mPassword" column="uPassword"/>
        <result property="mSex" column="uSex"/>
        <result property="mAccount" column="uAccount"/>
        <result property="mPhone" column="uPhone"/>
        <result property="mEmail" column="uEmail"/>
        <result property="mGptNum" column="uGptNum"/>
        <result property="mLevel" column="uLevel"/>
    </resultMap>

    <select id="regiQuery" parameterType="String" resultMap="BaseInfoMap">
        select uId,
               uImage,
               uName,
               uPassword,
               uSex,
               uAccount,
               uPhone,
               uEmail,
               uGptNum,
               uLevel
        from service_user_info
        <where>
            <if test="account!=null">
                uAccount=#{account}
            </if>
        </where>
    </select>
    <select id="login" parameterType="java.util.HashMap" resultMap="BaseInfoMap">
        select uId,
               uImage,
               uName,
               uPassword,
               uSex,
               uAccount,
               uPhone,
               uEmail,
               uGptNum,
               uLevel
        from service_user_info
        <where>
            <if test="account!=null">
                uAccount=#{account,jdbcType=VARCHAR}
            </if>
            <if test="password!=null">
                and uPassword=#{password,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    
    <select id="fuzzyQuery" parameterType="String" resultMap="BaseInfoMap">
        select uId,
               uImage,
               uName,
               uPassword,
               uSex,
               uAccount,
               uPhone,
               uEmail,
               uGptNum,
               uLevel
        from service_user_info
        <where>
            <if test="name!=null">
                uName LIKE CONCAT(CONCAT('%', #{name}),'%')
            </if>
        </where>
    </select>

    <insert id="register" parameterType="java.util.HashMap">
        insert into service_user_info
            (uImage,uName,uAccount,uPassword,uSex) values (#{image},#{name},#{account},#{password},#{sex})
    </insert>
</mapper>